
# Playwright
/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/cucumber-report/index.html/
/cucumber-report/cucumber.json/
/cucumber-report/screenshots/
/cucumber-report/videos/
/cucumber-report/trace/
